.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Comic Neue', cursive;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

footer {
  display: block;
}

/* Adding a horizontal scrollbar to project division */
/* The heart of the matter */
.project-group > .row {
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.project-group > .row > .col-lg-4 .col-md-3 .col-xs-4 {
  display: inline-block;
  float: none;
}


.grow {
transition: all .2s ease-in-out;
}

.grow:hover {
transform: scale(1.2);
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
